@charset "UTF-8";
.conteinerMidiaSociais-II{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


 .midiaSociais-II img{
    display: flex;
    width: 70px;
    margin: 10px;
    border-radius: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;    
}

 .midiaSociais-II img:hover{
    border: 2px solid rgba(135, 31, 31, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform .3s, border .5s;
} 