/*#atributosLider{
    background-color:white; 
    width: 950px;
    height:440px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
 }*/
 

.content-AtributosLider {
    display: none;
}

.content-AtributosLider.show{
    display: flex;
    flex-direction: column; /* Alinha o conteúdo em uma coluna */
    gap: 14px; 
    background-color: #247ba018;
    border-radius: 0px 0px 8px 8px;
    padding: 10px;
}

.content-AtributosLider.show:hover {
   background-color: #dddddd75;
}

/*Costomizando as ABAS*/
 
 .tab-buttons-atributosLider{
     display: flex;
     gap: 6px; /*Espaçamento entre os botões*/
 }
 
 .tab-btn-AtributosLider {
     width: 100%;
     border: none;
     color: white;/*Cor da fonte das ABAS*/
     background-color:#2E58A2;
     border-radius: 8px 8px 0px 0px;
     font-size: 20px;
     font-weight: 500;
     padding: 8px;
     cursor: pointer;
     transition: background-color .3s ease;
 }
 
 .tab-btn-AtributosLider.active{
     background-color:#0057b3c5;
 }
 
 .tab-btn-AtributosLider:hover{
     background-color:#0057b3c5;
 }