@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Farsan&family=Genos:ital,wght@0,100..900;1,100..900&family=Gruppo&family=Playwrite+AU+QLD:wght@100..400&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Farsan&family=Genos:ital,wght@0,100..900;1,100..900&family=Gruppo&family=Playwrite+AU+QLD:wght@100..400&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
 
:root{
    --cor0:#F4F6FE;
    --cor1:#E8F1F2;
    --cor2:#1B98E0;
    --cor3:#247BA0;
    --cor4:#006494;
    --cor5:#13293D;
    --cor6:#0068B5;
    --cor7: #0054A6;
    --corVerde0:#c5ebd6;
    --corVerde1:#83e1ad;
    --corVerde2:#3ddc84;
    --corVerde3:#2fa866;
    --corVerde4:#1a5c37;
    --corVerde5:#063d1e;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

*{
    margin: 0px;
    padding: 0px;  
}
  
body {
   font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 0px;
    }

    header {
        background-color: var(--cor7);
        /*background-image: linear-gradient(to bottom, var(--cor4),  var(--cor6) );*/
        min-height: 150px; 
    }
    
    header > .conteiner{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    header > div h1 {
        font-family: "Tomorrow", Arial, Helvetica, sans-serif;
        font-weight: 800;
        font-style: normal;
        color: white;
        font-size: 3.8em;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.354);
        margin-left: auto;
    }
    
    header > div p {
        
        align-items: center;
        font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 2.0em;
        max-width: 500px;
        margin-top: px;
        margin-bottom: 0px;
        padding-right: 0px;
        padding-left: 0px;
        color:darkgoldenrod;
        margin-left: 60px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.354);
    }
    
    #imagePreview {
      margin-top: 5px;
      border: 1px solid  white;
      padding: 0px;
      font-size: 10px;
     
    display: inline-block;
    }
    
 
    #preview {    
    max-width: 150px;
    border-radius: 50%;
    border: 0px solid white;
      
      
    max-height: 500px;
      display: none;
    }
    
     